* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 4rem;
  z-index: 1000;
}

#header .fa-hamburger {
  font-size: 4rem;
  z-index: 10000;
  color: #fff200;
  cursor: pointer;
  display: none;
}

#header .logo img {
  height: 5rem;
}

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

#header nav ul li {
  margin-right: 4rem;
}

#header nav ul li a {
  color: #fff;
  font-size: 2rem;
}

#header nav ul li a:hover {
  color: #fff200;
  text-decoration: none;
}

.header-active {
  background: #333;
  height: 6rem;
  -webkit-box-shadow: 0.2rem 0 0.5rem #000;
  box-shadow: 0.2rem 0 0.5rem #000;
}

.header-active nav ul {
  margin: 0;
}

#home {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.6)),
    to(rgba(0, 0, 0, 0.6))
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  position: relative;
  background-image: url(https://image.shutterstock.com/image-photo/tasty-pepperoni-pizza-cooking-ingredients-260nw-1233657130.jpg);
  background-repeat: no-repeat;
  background-size: 1400px 800px;
}

#home .content h1 {
  font-size: 5rem;
  font-family: "lemonada", sans-serif;
  font-weight: bolder;
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
  color: #fff200;
  text-align: center;
}

#home .content h2 {
  font-size: 3.5rem;
  font-family: "lemonada", sans-serif;
  font-weight: bolder;
  text-shadow: 0.1rem 0.1rem 0.3rem #333;
  color: #fff;
  margin: 1rem 0;
  text-align: center;
}

#home .content p {
  font-size: 1.6rem;
  color: #ccc;
}

#home .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
  background: #fff;
  text-align: center;
}

#home .content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff200;
  height: 100%;
  width: 0%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
  text-align: center;
}

#home .content button:hover::before {
  width: 100%;
}

#home .controls {
  position: absolute;
  bottom: 14%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .controls .dots {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background: #fff200;
  margin: 0 1rem;
}

#home .controls .dots:hover {
  background: #fff;
}

#about .heading h1 span {
  color: #fff200;
}
#about .content {
  margin: 5rem auto;
}
#about {
  background: url(../images/background2.jpg);
  background-position: center;
  background-size: cover;
}
#about .content p {
  font-size: 2rem;
  color:white;
}

#about .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
  background: #333;
  color: #fff;
}

#about .content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff200;
  height: 100%;
  width: 0%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

#about .content button:hover::before {
  width: 100%;
}

#about .content button:hover {
  color: #333;
}

#about .image img {
  width: 30vw;
}

#dish {
  min-height: 100vh;
  width: 100vw;
}

#dish .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
}
#dish{
  background:url(../images/background3.jpg) ;
  background-position: center;
  background-size: cover;
}
#dish .heading h1 span {
  color: #fff200;
}

#dish .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 90%;
}

#dish .box-container .box {
  height: 20rem;
  width: 25rem;
  border-radius: 0.5rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 0.5rem #333;
  box-shadow: 0 0 0.5rem #333;
}

#dish .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#dish .box-container .box .info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.6);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  color: #fff;
  -webkit-transform: scale(0);
  transform: scale(0);
}

#dish .box-container .box .info h3 {
  font-size: 3rem;
}

#dish .box-container .box .info p {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid #fff200;
  border-top: 0.2rem solid #fff200;
  margin: 1rem 2rem;
}

#dish .box-container .box .info button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
}

#dish .box-container .box .info button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #fff200;
  height: 100%;
  width: 0%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: -1;
}

#dish .box-container .box .info button:hover::before {
  width: 100%;
}

#dish .box-container .box:hover .info {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.now {
  background-color: #010f03;
  background-image: url("https://images.pexels.com/photos/932262/pexels-photo-932262.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  font-weight: bold;
  font-size: 25px;
}

#btn2 {
  padding: 20px 18px;
  margin-left: 4%;
  font-size: 20px;
  font-family: "Merriweather", serif;
  font-family: "Lakki Reddy", cursive;
  border-radius: 12%;
}

#placeOrder {
  display: flex;
  padding-top: 1%;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  padding-bottom: 15%;
}

#submit2 {
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 7%;
}

#order card-body {
  color: #05010ac4;
  width: 600px;
  font-size: 30px;
}
#order h1{
   text-align: center;
   padding-top:40px;
   color: bisque;
}
#order {
  text-align: center;
}
#order{
  background:url(../images/pizza6.jpg) ;
  background-position: center;
  background-size: cover;
}
